name: Changed only changelog
on:
    workflow_call:
        inputs:
            owner_repo:
                description: 'Github owner repo string (SpalkLtd/synchroniser)'
                required: true
                type: string
            pr_num:
                description: 'Github pr number'
                required: true
                type: string
        secrets:
            githubToken:
                description: 'Github token passed from the caller workflow'
                required: true
        outputs:
            changelog_only:
                description: "True iff CHANGELOG.md was the only file that changed for the PR"
                value: ${{ jobs.check_changelog.outputs.changelog_only }}

jobs:
  handleError:
    runs-on: ubuntu-latest
    steps:
      - name: get_files
        id: check_changelog
        env:
          GITHUB_TOKEN: ${{ secrets.githubToken }}
        run: |
          PR_DATA=$(curl -H 'Accept: application/vnd.github.v3+json'  -H 'Authorization: Bearer ${{ secrets.githubToken }}' https://api.github.com/repos/${{ inputs.owner_repo }}/pulls/${{ inputs.pr_num }}/files)
      - run: "echo URL called: GET /repos/${{ inputs.owner_repo }}/pulls/${{ inputs.pr_num }}/files"
      - run: "echo Files found: $PR_DATA"
      - run: "FILES=$(echo $PR_DATA | jq -r .[].filename"
      - run: '[[ "$FILES" == "CHANGELOG.md" ]] && echo "::set-output name=changelog_only::true" || echo "::set-output name=changelog_only::false"'