# This updates the google "testing sheet" to update the status of 
# entries to "REQUIRES TESTING" when a commit is pushed to the 
# main branch of a repo containing "SA-[0-9]*"
# Requires a google Service Account https://cloud.google.com/iam/docs/service-accounts
# and that you share the spreadsheet with the service account's email as an editor.
name: Set Testing Sheet Status to REQUIRES TESTING

on:
  workflow_call:
    inputs:
      repo:
        description: 'Github repo string. Eg synchroniser'
        required: true
        type: string
      pr_number:
        description: 'Github commit message. Usually: github.event.pull_request.number'
        required: true
        type: string
      worksheet_title:
        description: 'Worksheet title to edit'
        required: true
        type: string
    secrets:
      GSHEET_CLIENT_EMAIL:
        description: 'Client email of the service account'
        required: true
      GSHEET_PRIVATE_KEY:
        description: 'Private key of the service account'
        required: true
      SPREADSHEET_ID:
        description: 'Google Sheet ID'
        required: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  update_status:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

    # Finds the matching row in the google sheet by finding the ticket number in a column specified by the PR_NUMBER_COLUMN environment variable
    - id: 'read_worksheet'
      if: inputs.pr_number != ''
      uses: SpalkLtd/gsheet.action@v1.2.0 # you can specify '@release' to always have the latest changes
      with:
        spreadsheetId: ${{ secrets.SPREADSHEET_ID }}
        commands: | # list of commands, specified as a valid JSON string
          [
            { "command": "getData", "args": { "range": "'${{ env.WORKSHEET_TITLE }}'!${{ env.REPO_COLUMN }}:${{ env.PR_NUMBER_COLUMN }}" }}
          ]
      env:
        GSHEET_CLIENT_EMAIL: ${{ secrets.GSHEET_CLIENT_EMAIL }}
        GSHEET_PRIVATE_KEY: ${{ secrets.GSHEET_PRIVATE_KEY }}
        PR_NUMBER_COLUMN: "O"
        REPO_COLUMN: "B"
        STATUS_COLUMN: "D"
        WORKSHEET_TITLE: "Dev QA"
    - name: find_matching_row
      if: inputs.pr_number != ''
      id: find_matching_row
      env:
          RESULTS: ${{ steps.read_worksheet.outputs.results }}
      run: |
        echo "ticket number = ${{ inputs.pr_number }}"
        ROW_NUMBER=$(echo "$RESULTS" |  jq -e '.results[0].result.rawData | map(.[0]=="${{ inputs.repo }}" and .[1]=="${{ inputs.pr_number }}") | index(true) | tostring | tonumber + 1')
        echo "row = $ROW_NUMBER"
        echo "ROW_NUMBER=$ROW_NUMBER" >> $GITHUB_OUTPUT
    - id: 'update_worksheet'
      if: inputs.pr_number != ''
      uses: SpalkLtd/gsheet.action@v1.2.0 # you can specify '@release' to always have the latest changes
      with:
        spreadsheetId: ${{ secrets.SPREADSHEET_ID }}
        commands: | # list of commands, specified as a valid JSON string
          [
            { "command": "updateData",
            "args": {
                "worksheetTitle": "$WORKSHEET_TITLE",
                "range": "${{ env.STATUS_COLUMN }}${{steps.find_matching_row.outputs.ROW_NUMBER }}",
                "data":[["REQUIRES TESTING"]]
              }
            }
          ]
      env:
        GSHEET_CLIENT_EMAIL: ${{ secrets.GSHEET_CLIENT_EMAIL }}
        GSHEET_PRIVATE_KEY: ${{ secrets.GSHEET_PRIVATE_KEY }}
        STATUS_COLUMN: "D"
        WORKSHEET_TITLE: ${{ inputs.worksheet_title }}

