name: Tag and Release
on:
    workflow_call:
        secrets:
            githubToken:
                description: 'Github token passed from the caller workflow'
                required: true
        input:
            something:
                type: string
                required: false
    push:
        branches: ["master", "main"]
    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

jobs:
    tag_and_release:
        runs-on: ubuntu-latest
        outputs:
            version: ${{steps.get-version.outputs.version}}
        if: startsWith(github.event.head_commit.message, 'cut version')
        steps:
            - name: Get Version
              id: get-version
              run: |
                  GITHUB_PR_TITLE="${{github.event.head_commit.message}}"
                  GITHUB_PR_TITLE="${GITHUB_PR_TITLE^^}"
                  GITHUB_PR_TITLE="${GITHUB_PR_TITLE#"CUT VERSION "}"
                  GITHUB_PR_TAG="${GITHUB_PR_TITLE%% *}"
                  echo "::set-output name=version::$GITHUB_PR_TAG"
            - name: Echo inputs
              id: echo-input
              run: |
                echo ${{ inputs.something }}
                echo ${{ secrets.githubToken }} | sed 's/\(....\).*/\1/g'
            - name: Create Release
              uses: actions/github-script@v3
              with:
                  github-token: ${{ secrets.githubToken }}
                  script: |
                      github.repos.createRelease({
                        owner: context.repo.owner,
                        repo: context.repo.repo,
                        tag_name: "${{ steps.get-version.outputs.version }}",
                        generate_release_notes: true,
                        name: "Release - ${{ steps.get-version.outputs.version }}"
                      })
