name: Tag and Release
on:
    workflow_call:
        secrets:
            githubToken:
                description: 'Github token passed from the caller workflow'
                required: true
        outputs:
            version:
                description: "The version we tagged"
                value: ${{ jobs.tag_and_release.outputs.version }}
    push:
        branches: ["master", "main"]
    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

jobs:
    tag_and_release:
        runs-on: ubuntu-latest
        outputs:
            version: ${{steps.get-version.outputs.version}}
        if: startsWith(github.event.head_commit.message, 'cut version')
        steps:
            - name: Get Version
              id: get-version
              env:
                  COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
              run: |
                  GITHUB_PR_TITLE="$COMMIT_MESSAGE"
                  GITHUB_PR_TITLE="${GITHUB_PR_TITLE^^}"
                  GITHUB_PR_TITLE="${GITHUB_PR_TITLE#"CUT VERSION "}"
                  GITHUB_PR_TAG="${GITHUB_PR_TITLE%% *}"
                  echo "version=$GITHUB_PR_TAG" >> $GITHUB_OUTPUT
            - name: Create Release
              uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
              env:
                  VERSION: ${{ steps.get-version.outputs.version }}
              with:
                  github-token: ${{ secrets.githubToken }}
                  script: |
                      github.rest.repos.createRelease({
                        owner: context.repo.owner,
                        repo: context.repo.repo,
                        tag_name: process.env.VERSION,
                        generate_release_notes: true,
                        name: `Release - ${process.env.VERSION}`
                      })
